---
import Layout from '@/layouts/Layout.astro';
import Block from '@/components/Block.astro';
---

<Layout title="404 Page Not Found." icon="ðŸ">
  <Block>
    <p>
      Even the depths of Babel don't contain this page...
    </p>
  </Block>
</Layout>
