---
import Layout from '@/layouts/Layout.astro';
import Block from "@/components/Block.astro";
---

<Layout title="Disks of Babel." icon="💾">
  <Block>
    <p>
      Spread throughout this Babelian datacenter are a series of diskettes contained within countless disk bays within countless computers. Within each disk is a single 1024 byte <code>WebAssembly</code> program of a random permutation of bits.
    </p>
  </Block>
  <Block>
    <p>
      The <strong>Disks of Babel</strong> are the binary equivalent of Jorge Luis Borges' theoretical <strong>Library of Babel</strong>.
    </p>
    <p>
      Where the equivocal library contains all possible books containing infinite permutations of infinite text, the disks contains all permutations of <code>WebAssembly</code> binaries that fit within a theoretical 1024 byte diskette.
    </p>
    <p>
      Similarly, the disks also contain mostly noise which result in invalid binaries that cannot be executed. However, much like the library, there exist valid binaries within the vastness of all possible permutations.
    </p>
    <p>
    Some may print a simple <code>"Hello, World"</code>, others may contain yet unfound browser exploits, while a few may even contain similar Babelian libraries expanding like a fractal.
    </p>
    <p>
    Here is a simple <a href="/disk/AIqrljkAAAA5LjmJACq3LDoqAC47KgA6Pzc6L6WOpZiqojoAOZYAAELeOirqKzkvtyt4arup+ABlAABqNyp/LXgseEkAajcqqUs7and0RStYAFgseekAcqJKOUkAajqdWS55AFkAO2lYAHkoOZpaLXlogy14STlKADU6LlgteS+sSTuTeSusSzpquan4AKJJPWMAAFgream4aaNJAGo6nXIAAEk6arqp+ACiagBjAABYK3msuOkAk3koOWMAAFgAWC156QByokoANTk0ADQANAA0O2lYK3koOZpaLHlogzY5STpJO2r4AIGTWSt5AFkAO2lYAHkoOZpaLXlogzY5STxqPp1YLKJqOp1aLnmpuGmjSzlJOVYAAHkqomMAAFgueaq46QCTWipYKmUAAGo5k3IAAEk9arqp+ACiSzlJOVYAAHkqomMAAFgAWC156QByokoANQA0ADQANHmpuOkANACkQZmqmJyem46qnDoxpIqmkK2Kn445LYqeq50ANaibp4ydnKuOnFaaojsuqp6rnZtGaVduXmZZWFFwYm+Oa2BtXmtJallqW2VaaVZoW2Evr4qkm62cPllmWnFXaDWviquWZYuhl5yQnZdKWWZbZmFrSWCOmopuYmmPaz">graphics test</a>.
    </p>
  </Block>
  <p>
    <strong># made w/ love by lanpai &lt;3</strong>
  </p>
</Layout>
